body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background-color: #f5f7fb;
}

.App {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.startScreen {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #293164;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin: 20px;
}

.startScreen-text {
  margin: 0
}

.button {
  margin: 20px;
  height: 50px;
  background-color: #293164;
  color: #f5f7fb;
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 30px;
}

.quizScreen {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #293164;
}

.questionBox {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border-bottom: 1px solid #dbdef0;
}

.questionBox h4 {
  margin: 10px 0 0px 0;
}

.optionsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 15px 0 15px 0;
}

.options {
  border: 0.8px solid #4d5b9e;
  border-radius: 10px;
  padding: 3px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 10px;
  text-align: center;
}

.isSelected {
  background-color: #d6dbf5;
  border: none;
}


.selected {
  background-color: #d6dbf5;
  border: none;
}

.wrong {
  background-color: #f8bcbc;
  border: none;
}

.right {
  background-color: #94d7a2;
  border: none;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}